@charset "UTF-8";
@media (max-width: 479px) {
  body{
    background-color: #141e23;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    .text1{
      width: 100vw;
    }
    .text2{
      width:90vw;
    }
    .title{
      width: 90vw;
    }
    .box{
      display: none;
    }
    .box2{
      display: inline;
      width: 90vw;
      position: absolute;
      top: 51%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    .time1{
      width: 90vw;
      height: 16vh;
      position: absolute;
      bottom:1.5vh;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    iframe {
      position: absolute;
      top: 51%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 78vw;
      height: 43.8vw;

    }
  }

}
