@media (max-width: 479px) {
  body {
    background-color: #141e23;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  body .text1 {
    width: 100vw;
  }
  body .text2 {
    width: 90vw;
  }
  body .title {
    width: 90vw;
  }
  body .box {
    display: none;
  }
  body .box2 {
    display: inline;
    width: 90vw;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  body .time1 {
    width: 90vw;
    height: 16vh;
    position: absolute;
    bottom: 1.5vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
}
